/*section, header, div, footer{
    background-color: gray;
}*/

/* Extra resetting
----------------------------------------------------------------*/

/* makes all images responsive */
img {
    max-width: 100%;
    height: auto;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
/*----------------------------------------------------------------------------*/
html, body{
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0 auto;
}
h1, h2, h3{
    font-family: 'Playfair Display', Arial, serif;
    font-weight: normal;
    font-style: normal;
}
h2{
    font-size: 2rem;
    font-weight: normal;
    font-style: italic;
}
h2 span{
    font-weight: bold;
    font-style: normal;

}
.top{
    display:flex;
}


.container-full{
    width: 100%;
    margin: 0 auto;
    padding: 0 3%;
}

.container_short{

}

header{
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    justify-content: space-evenly;
}

ul{
    margin: 0 0 0 0;
}
li{
    list-style: none;
}
nav li{
    display: inline-block;
}

.logo{
    align-self: flex-start;
    flex: 0 1 50%;
}

nav{
    align-self: center;
    flex: 1 0 auto;

}

.cart{
    align-self: flex-end;
    flex: 0 1 50%;
    text-align: right;
    position: relative;
    }

.three{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 25px;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}
.main{
    background: url(images/banner-girl.png) no-repeat center 54px, url(images/flower-bkgd.jpg) repeat-x top;
    height: 400px;
    position: relative;
    background-size: 13%, 80% 140%;
    }
.main-text{
    color: white;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
}
.nc{
    font-size: 1.3rem;
    font-weight: 700;
}
.year{
    font-family: PlayfairDisplay
}
.about{
    text-align: center;
}
footer{
    background-color: black;
    padding: 3rem 0;
    color: white;
}
footer a{
    color: white;
}
.foot-container{
    padding: 0 2%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.info{
    align-self: flex-start;
}
.sns{
    font-size: 1rem;
}
.sns i{
    min-width: 20px;
}
.sns a{
    text-decoration: none;
}
.sns li{
    margin: 15px auto;
}


/* Mobile First Approach

1. Make flex-direction: row into column.
2. change order of banner image and banner text.
3. take out padding/ margin of text.
4. text-align: center the banner text.
5. align-self: center the banner image.
6. change buttons. 
   banner-text change flex basis 0 1 370px.
   shrink, grow, basis.
   change to flex: 0 1 auto.
   or comment out flex: in banner image.
7. still need to change buttons. in .actions li,
   make display from inline-block into display block. or default it by commenting it out.
8. go to .cta, add width: 70%.
9. re-adjust widths/ sizing in buttons and image. */



/* How to Bring Back Desktop Version using Media Query

1. use @media screen and (min-width: 720px) {}
2. inside media query, paste all elements and styling that was omitted or changed and paste inside.
   includes .content, banner-text, banner-image, actions li, cta.
   only need the styling that changed. */



/* Table Version

1. change button layout. Essentially same as desktop usage of media query */

/* Not a lot of difference between desktop and mobile. Main changes are in flex layout. */


/* Tablet */

@media screen and (min-width: 480px) {

}

/* Desktop */
@media screen and (min-width: 720px) {
    .content {
        flex-direction: row;
    }

    .banner-text {
        flex: 0 1 370px;
        margin-right: 80px;
        order: 1;
        padding-top: 150px;
        text-align: right;
    }
}